<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>BookWeb</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.min.css') }}">

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>
<body>
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/"><img src="/static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/acervo">Acervo</a></li>
          <li><a href="/emprestimo">Empréstimo</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
   <div vw class="enabled">
  <div vw-access-button class="active"></div>
  <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
  </div>
</div>
<body>
<section>
    <div class="banner">
        <img src="/static/img/banner5.png" alt="Banner fundo">
    </div>
</section>

   <div class="textos">
        <p class="texto">NOSSO ACERVO</p>
    </div>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/book1.png" alt="Verity">
    <h3>Apostando no amor</h3>
    <p>Lynn Painter</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book2.png" alt="Verity">
    <h3>O ladrão de raios</h3>
    <p>Rick Riordan</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book3.png" alt="Verity">
    <h3>Corajosas</h3>
    <p>Arlene Diniz</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book4.png" alt="Verity">
    <h3>Aprendiz do Vilão</h3>
    <p>Hannah Nicole</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/book5.png" alt="Verity">
    <h3>O Cortiço</h3>
    <p>Carla Madeira</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book6.png" alt="Verity">
    <h3>Iracema</h3>
    <p>José de Alencar</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book7.png" alt="Verity">
    <h3>Quincas Borba</h3>
    <p>Machado de Assis</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book8.png" alt="Verity">
    <h3>Quarto de Despejo</h3>
    <p>Carolina Maria</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/book9.png" alt="Verity">
    <h3>O Poder do Hábito</h3>
    <p>Charles Duhigg</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book10.png" alt="Verity">
    <h3>Amar e Ser Livre</h3>
    <p>Sri Prem Baba</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book11.png" alt="Verity">
    <h3>O Poder da Ação</h3>
    <p>Paulo Vieira</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book12.png" alt="Verity">
    <h3>Pai Rico, pai Pobre</h3>
    <p>Robert Kiyosaki</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/book13.png" alt="Verity">
    <h3>Uma segunda chance</h3>
    <p>Colleen Hoover</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book14.png" alt="Verity">
    <h3>Reckless</h3>
    <p>Renan Carvalho</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book15.png" alt="Verity">
    <h3> Dez mil sóis</h3>
    <p>Lauren Roberts</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book16.png" alt="Verity">
    <h3>Crepúsculo</h3>
    <p>Stephenie Meyer</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/book17.png" alt="Verity">
    <h3>Malala</h3>
    <p>Cris Ench</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book18.png" alt="Verity">
    <h3>Cadê os bichos?</h3>
    <p>Adriana Carranca</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book19.png" alt="Verity">
    <h3>A festa no céu</h3>
    <p>Angela Lago</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/book20.png" alt="Verity">
    <h3>Os guardiões</h3>
    <p>Tomás Kanegi</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
<footer class="rodape">
    <p>BookWeb© 2025 | CNPJ 23452445/0001 | Desenvolvido por Giovanna e Marina</p>
</footer>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
  new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
</body>
</body>
</html>