<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BookWeb</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.min.css') }}">
  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="/static/img/logo.png" alt="Imperial">
        </div>

        <h1>Bem-Vindo Book Web</h1>
        <h2> Nossa biblioteca <span class="rotating"> virtual</span></h2>
        <div class="actions">
            <a class="btn-get-started" href="/login">Login</a>
            <a href="#sobre" class="btn-services">Sobre nós</a>
        </div>
      </div>
    </div>
  </section>
</div>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="/static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/livros">Livros</a></li>
          <li><a href="/emprestimo">Empréstimo</a></li>
          <li><a href="/exibircontato">Mensagens</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div vw class="enabled">
  <div vw-access-button class="active"></div>
  <div vw-plugin-wrapper>
    <div class="vw-plugin-top-wrapper"></div>
  </div>
</div>
  <!-- #header -->

  <!--==========================
  Subscrbe Section
  ============================-->
     <div class="textos">
        <p class="texto">OS QUERIDINHOS</p>
    </div>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/livro1.png" alt="Verity">
    <h3>Verity</h3>
    <p>Colleen Hoover</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/livro2.png" alt="Verity">
    <h3>Vidas secas</h3>
    <p>Graciliano Ramos</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/livro3.png" alt="Verity">
    <h3>Imperfeitos</h3>
    <p>Christina Lauren</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/livro4.png" alt="Verity">
    <h3>Táticas do amor</h3>
    <p>Sarah Adams</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
<section class="livros">
  <div class="livro-card">
    <img src="/static/img/livro5.png" alt="Verity">
    <h3>Tudo é rio</h3>
    <p>Carla Madeira</p>
      <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/livro6.png" alt="Verity">
    <h3>Dom Casmurro</h3>
    <p>Machado de Assis</p>
        <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/livro7.png" alt="Verity">
    <h3>Amor e Gelato</h3>
    <p>Jenna Evans</p>
         <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>

  <div class="livro-card">
    <img src="/static/img/livro8.png" alt="Verity">
    <h3>A seleção</h3>
    <p>Kiera Cass</p>
     <div class="estrela">
        <img src="/static/img/estrela.png">
      </div>
  </div>
</section>
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Confira nosso acervo</h3>
          <p class="subscribe-text">Um livro nas mãos, um universo na mente.</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="/acervo">AQUI</a>
        </div>
      </div>
    </div>
  </section>

<section class="sobre" id="sobre">

<div class="container2">
    <img src="/static/img/biblioteca.png" alt="Biblioteca Escolar SESI-SP" class="imagem">

    <div class="texto">
      <h1>A LEITURA CONTAGIA!</h1>
      <p>
      A Biblioteca Escolar SESI-SPé um ambiente essencial para o desenvolvimento educacional, promovendo o gosto pela leitura e incentivando a autonomia dos estudantes na busca de informações, aprofundamento e ampliação de conhecimentos. Ao atuar como um ambiente de aprendizagem contínua, a biblioteca contribui diretamente para a formação integral dos alunos, integrando práticas pedagógicas que enriquecem o processo educativo.
      </p>
      <p>
       Baseando-se na Lei 12.244, que visa à universalização das bibliotecas escolares em todas as instituições de ensino do país, a Biblioteca Escolar SESI-SP também se alinha aos oito objetivos estabelecidos pela UNESCO/IFLA, que reforçam a importância da biblioteca no ensino e na aprendizagem dos alunos.
      </p>
      <p>
Em 2020, a rede expandiu seus recursos com a criação de uma Biblioteca Virtual, que já ultrapassou 1 milhão de acessos e oferece mais de 1000 vídeos de contação de histórias, dicas de leitura e estudo. Este ambiente virtual também funciona como um repositório institucional, abrigando produções dos alunos, tornando-se um ambiente valioso de informação e inspiração.      </p>
    </div>
</div>
</section>


  <!--==========================
  Testimonials Section
  ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Depoimentos</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Confira nossos depoimentos dos queridinhos do livro</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="/static/img/client-1.jpg" alt=""></div>
            <h4>João Pereira</h4>
            <span>Universitário</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="/static/img/quote_sign_left.png" alt=""></b>Com o sistema online, não esqueço mais prazos de devolução e acesso aos livros é rápido e prático.<small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="/static/img/quote_sign_left.png" alt=""></b>A biblioteca online facilitou muito meu trabalho. O acervo é atualizado e os registros de empréstimo e devolução são automáticos <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="/static/img/client-2.jpg" alt=""></div>
            <h4>Ana Silva</h4>
            <span>Professora de História</span>
          </div>
        </div>
      </div>

    </div>
  </section>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/morphext/morphext.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/stickyjs/sticky.js"></script>
  <script src="/static/lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="/static/js/custom.js"></script>

  <script src="/static/contactform/contactform.js"></script>


</body>

</html>
</body>
<footer class="rodape">
    <p>BookWeb© 2025 | CNPJ 23452445/0001 | Desenvolvido por Giovanna e Marina</p>
</footer>
<script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
<script>
  new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>

</body>
</html>
