<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
  <div class="login-page">
    <div class="login-container">
      <div class="login-left"></div>

      <div class="login-right">
        <h2 class="login-title">Entrar</h2>
        <form action="/autenticar" method="post" class="login-form">
          <label for="nome" class="login-label">Nome</label>
          <input type='text' id="nome" name="login" class="login-input" placeholder="Digite seu nome" required>

          <label for="senha" class="login-label">Senha</label>
          <input type="password" id="senha" name="senha" class="login-input" placeholder="Digite sua senha" required>

          <button type="submit" class="login-btn">Continuar</button>

          <p class="login-termos">
            Ao continuar, você concorda com os
            <a href="#">Termos de uso</a> e
            <a href="#">Política de Privacidade</a>.
          </p>
        </form>
            <div class="voltar-container2">
                <a href="/" class="btn-voltar2">Voltar</a>
            </div>
      </div>
    </div>
  </div>
</body>
</html>